body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 500px;
  flex: 0 0 500px;
  overflow: auto;
  margin: 0.5rem;
}

#context {
  height: 50%;
}

#context #outputLogs {
  font-size: 10px;
}

#context .logEntry {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  position: relative;
}
#context .logEntry .logMeta {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10;
  width: 300px;
}
#context .logEntry:hover .logMeta {
  display: block;
}

#context .logEntry label {
  flex: 1;
  font-weight: bold;
  text-align: right;
  padding-right: 0.5rem;
}

#context .logEntry pre {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 50px;
}

#context #contextValues {
  background: #eee;
  padding: 1rem;
}

#contextValues .contextItem {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

#contextValues label {
  flex: 1 0 120px;
  margin-right: 0.5rem;
  text-align: right;
  font-weight: bold;
}

#outputValue {
  text-align: right;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.25rem 0;
}

#generatedJs {
  height: 25%;
  background-color: rgb(247, 240, 228);
}

#generatedJson {
  height: 25%;
  background-color: rgb(247, 240, 228);
}